<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <connectionStrings>
        <add name="CheckBookCon" connectionString="Data Source=DESKTOP-O9R3NPO\SQLEXPRESS;Initial Catalog = Finances; Integrated Security = True; Connect Timeout = 30; Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    </connectionStrings>
</configuration>